.cell {
	-fx-alignment: center
}

.score-table .cell {
	-fx-font-size: 26px;
}

.score-table-player-column {
	-fx-alignment: center-left
}



.score-button {
	-fx-font-size: 36px;
}

.incorrect-score {
	-fx-border-color: red;
}

.attempt-tip-label {
	-fx-font-size: 36px;
}

.score-text {
	-fx-font-size: 24px;
}